[Unit]
Description=Update Doorbell
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/rasapberry-doorbell/update.py
Restart=on-abort

[Install]
WantedBy=multi-user.target